@charset "utf-8";

h1 {
   font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
   font-size: 1.7em;
   letter-spacing: 0.1em;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   color: purple;
}
